
<!DOCTYPE html>
<html lang="ch" manifest="">
<head>
<title>生日快乐-大杨同学</title>
<!-- 招商加盟 -->
<meta charset="UTF-8">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="pragram" content="no-cache">

<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/enter.css"/>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" type="text/css" href="../css/endpic.css">
<link rel="stylesheet" type="text/css" href="../css/page-animation.css"/>



<script type="text/javascript">
    var mengvalue = -1;
    if(mengvalue<0){mengvalue=0;}
    var phoneWidth = parseInt(window.screen.width);
    var phoneScale = phoneWidth / 640;

    var ua = navigator.userAgent;
    if (/Android (\d+\.\d+)/.test(ua)) {
        var version = parseFloat(RegExp.$1);
        // andriod 2.3
        if (version > 2.3) {
            // alert(1);
            document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
            // andriod 2.3以上
        } else {
             // alert(2);
            document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
        }
        // 其他系统
    } else {
        // alert(3);
        document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
    }
    
    
</script>

<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">


</head>
<!--移动端版本兼容 end -->
<body class="s-bg-ddd pc no-3d" style="-webkit-user-select: none;"><!--模版加载提示-->
    <input type="hidden" name="" id="wxTitle" value="商家入驻"  />
    <input type="hidden" name="" id="wxdesc" value="商家入驻，合作共赢"  />
    
    <section class="u-alert"><img style="display:none;" src="../images/loading_large.gif">
        <div class="alert-loading z-move">
            <div class="cycleWrap">
                <span class="cycle cycle-1"></span>
                <span class="cycle cycle-2"></span>
                <span class="cycle cycle-3"></span>
                <span class="cycle cycle-4"></span>
            </div>

            <div class="lineWrap">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
                <span class="line line-4"></span>
                
            </div>
        </div>
    </section>
    <!--模版加载提示 end-->

    <!-- 声音控件 -->
    <section class="u-audio" data-src="../images/music.mp3" autoplay="autoplay">
        <p id="coffee_flow" class="btn_audio">
            <strong class="txt_audio z-hide">关闭</strong>
            <span class="css_sprite01 audio_open"></span>
            <div id="song_img" class="" style="display: none;">点击logo打开背景音乐</div>
            <div class="coffee-steam-box" style="height: 100px; width: 44px; left: 60px; top: -50px; position: absolute; overflow: hidden; z-index: 0;"></div>
        </p>
    </section>
    <!-- 声音控件 end-->
    <section class="u-arrow">
        <p class="css_sprite01"></p>
    </section>
    <!-- 箭头指示引导 end-->
    <!-- page页面内容 -->

    <section class="p-ct transformNode-2d" style="height: 907px;">
        <!-- 旋转反面 -->
        <div class="translate-back" style="height: 907px;">
        <!-- 封页 -->
        <div class="m-page m-fengye" data-page-type="info_pic3" data-statics="info_pic3" style="">
            <div class="page-con lazy-finish" data-src="../images/happy/bg.jpg" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/bg.jpg); background-size: cover; background-position: 50% 50%;background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%">
                      
                <div class="part part1 fadeIn" data-delay="1000" style="height: 35%;margin:25% 5% 0;background-image: url(../images/happy/title.png);background-size: 100% 100%;"></div>
				<p class="fadeIn" style="margin:0 5% 0;width: 90%;">
					<b style="font-size: 72px;">To</b>
					<br>
					<span style="text-align: center;font-size: 52px;display: block;">我亲爱的老婆的大人</span>
					<br>	
					<b style="text-align: center;font-size: 35px;display: block;">、</b>
					<br>
					<span style="text-align: center;font-size: 52px;display: block;">肉肉的魅力的妈妈</span>	
				</p>
                            
            </div>
        </div>
       
        <!-- 02  -->
       <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
            <div class="page-con j-txtWrap lazy-finish" data-src="../images/happy/1.jpg" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/1.jpg); background-size: cover; background-position: 50% 50%;">
                     <div class="part part1 slideUp" data-delay="1000" style="width: 100%;height: 100%;background-image: url(../images/happy/02content.png);background-size: 100% 100%;">
					 </div>
                
            </div>
        </div>
        <!-- 03 -->
        <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
            <div class="page-con j-txtWrap lazy-finish" data-src="../images/happy/bg2.jpg" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/bg2.jpg); background-size: cover; background-position: 50% 50%;">
                     <div class="part part1 slideRight" data-delay="1000" style="width: 100%;height: 100%;">
						  <p style="color: #fff;margin: 50% 15%;font-size: 30px;">
							  <b style="font-size: 35px;">Nowadays</b> <br /><br />
							  <span class="">
									是咱俩在一起1793天<br />
									约等于5年，<br />
									还是感觉刚认识一样，<br />
									还记得陪你过的第一个生日，<br />
									那天下了雨，<br />
									你喝醉时候的样子，<br />
									还有拉着喝醉了的你，<br />
									可沉了。(拽也拽不动)<br />
							  </span>
						  </p>
					 </div>
                
            </div>
        </div>
        <!-- 04 -->
        <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
            <div class="page-con j-txtWrap lazy-finish" data-src="../images/happy/bg3.png" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/bg3.png); background-size: cover; background-position: 50% 50%;">
                     <div class="part part1  slideLeft" data-delay="1000" style="width: 100%;height: 100%;background-image: url(../images/happy/04.png);background-size: cover"></div>
                
            </div>
        </div>
		<!-- 05-->
		<div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
		    <div class="page-con j-txtWrap lazy-finish" data-src="../images/happy/bg3.png" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/bg3.png); background-size: cover; background-position: 50% 50%;">
		             <div class="part part1  slideLeft" data-delay="1000" style="width: 100%;height: 100%;background-image: url(../images/happy/05.png);background-size: cover"></div>
		        
		    </div>
		</div>
         <!-- 06 -->
        <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;" id="page2">
            <div class="page-con j-txtWrap lazy-finish" data-src="../images/happy/123.jpg" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/123.jpg); background-size: cover; background-position: 50% 50%;position: relative;">
                
                <div class="part part1 slideUp part05" data-delay="1000" style="width: 100%;height: 100%;background-image: url(../images/happy/bg4.png);background-size: 100% 100%;position: relative;">
                    <!-- 轮播 -->
                   <div class="swiper-container" >
                         <div class="swiper-wrapper">
                           <div class="swiper-slide">
                               <img src="../images/happy/s1.jpg" >
                           </div>
                           <div class="swiper-slide">
                               <img src="../images/happy/s2.jpg" >
                           </div>
                           <div class="swiper-slide">
                               <img src="../images/happy/s3.jpg" >
                           </div>
                           
                         </div>
                         <!-- Add Pagination -->
                         <div class="swiper-pagination"></div>
                         <!-- Add Arrows -->
                        
                         <div class="swiper-button-next" ></div>
                         <div class="swiper-button-prev"></div>
                    </div>
                   
                </div>
               
            </div>
                      
        </div>
        <!-- 07 -->
         <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
            <div class="page-con j-txtWrap lazy-finish" data-src="../images/happy/bg.jpg" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/bg.jpg); background-size: cover; background-position: 50% 50%;">
                     <div class="part part1 slideLeft" data-delay="1000" style="width: 100%;height: 100%;background-image: url(../images/happy/q1.png);background-size: 100% 100%;position: relative;">
						 <img src="../images/happy/g1.gif" style="width: 200px;position: absolute;top: 10px;left: 10px;">
						 <img src="../images/happy/g2.gif" style="width: 200px;position: absolute;bottom: 10px;right: 10px;">
					 </div>
                
            </div>
        </div>
         
        
         <!-- 08 -->
        <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 907px;">
            <div class="page-con j-txtWrap lazy-finish" data-src="../images/happy/e1.png" data-position="50% 50%" data-size="cover" style="background-image: url(../images/happy/e1.png); background-size: cover; background-position: 50% 50%;">
                
                <img src="../images/happy/hua.gif" class="part part1 fadeIn" data-delay="1000"  style="width: 200px;position: absolute;bottom: 10px;right: 10px;" />
                
            </div>
        </div>
   
                     
                   
                    
         
        
        
        
        
        

        </div><!-- 旋转反面 end-->
    </section><!-- 正文介绍 end--<!--pageLoading-->
    <section class="u-pageLoading"><img src="../images/load.gif" alt="loading"></section>
    <!--pageLoading end-->

<script src="../js/Zepto.min.js" type="text/javascript" charset="utf-8"></script>

<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript" charset="utf-8"></script>
<script src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/wxjdk.js" type="text/javascript" charset="utf-8"></script>


<script src="../js/coffee.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/enter.js" type="text/javascript" charset="utf-8"></script>

  <!-- Swiper JS -->
  <script src="../js/swiper.min.js"></script>
    <!-- Include plugin after Swiper -->
  <script>
      function initSwiper(){
          var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
              delay: 2500,
              disableOnInteraction: false,
            },
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          });
      }
    
  </script>
  <script src="../js/99_mainEnter.js" type="text/javascript" charset="utf-8"></script>
  


</body>
</html>